* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-text: #787878;
}

@font-face {
	font-family: roboto-b;
	src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: roboto-r;
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: roboto-t;
	src: url(../fonts/Roboto-Thin.ttf);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 100;
}

body {
    font-family: roboto-r;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 60px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.header__list {
    display: flex;
    gap: 100px;
}
header li {
    list-style: none;
}

header button {
    font-size: inherit;
}

header a {
    text-decoration: none;
    color: var(--color-text);
}

.header__burger{
    display: none;
}

.header__logo {
    display: flex;
    gap: 7px;
    align-items: center;
    font-family: roboto-b;
    font-size: 30px;
}

header button {
    border: none;
    color: white;
    background-color: #6337FF;
    padding: 10px 35px;
    border-radius: 20px;
    cursor: pointer;
}



main {
    margin: auto;
}
.hero-section {
    padding-top: 200px;
    text-align: center;
    height: 1200px;
    overflow: hidden;
    background-color: #F5F5F5;
}
.hero-section h1 {
    font-size: 90px;
    margin-bottom: 30px;
}
.hero-section p {
    font-size: 24px;
    width: 630px;
    margin: auto;
    color: var(--color-text);
}
.hero-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section__image {
    position: relative;
    width: 1300px;
    height: 2000px;
    margin: auto;
    margin-top: 60px;
}

.sound {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sound__title {
    margin: 0 50px;
}

.sound__title-info {
    font-size: 18px;
    width: 300px;
    color: var(--color-text);
    margin-bottom: 142px;
}

.sound__sub-title-info {
    font-size: 18px;
    color: hsla(0, 0%, 7%, 1);
    width: 200px;
    margin-bottom: 40px;
}

.sound h2 {
    font-size: 90px;
    margin-bottom: 32px;
}

.sound h3 {
    font-weight: 700;
    width: 220px;
    margin-bottom: 16px;
}

.sound__image {
    position: relative;
    width: 800px;
    height: 800px;
}

.sound__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
  }

footer {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 100%;
    gap: 42px;
    background-color: #F5F5F5;
}
footer p {
    width: 1000px;
    text-align: center;
    color: var(--color-text);
    font-size: 15px;
}

@media (max-width: 1300px) {
    .hero-section__image {
        width: 1000px;
        height: 1600px;
    }
    .header__list {
        gap: 50px;
    }
}


@media (max-width: 990px) {
    header {
        padding: 0 20px 0 40px;
    }
    .header__logo{
        flex-grow: 0;
    }

    .header__list {
        display: block;
        padding: 20px;
    }

    .header__list li {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .header__list li:last-child {
        margin-bottom: 0px;
    }

    .header__menu{
        position: absolute;
        z-index: 1;
        top: 75px;
        right: -100%;
        width:260px;
        height: max-content;
        background-color: white;
        box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);
        transition: all 0.2s ease-in-out 0s;
    }
    .header__menu.active {
        right: 0;
    }
    
    header button {
        display: none;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 26px;
        height: 20px;
        margin: 0 30px;
    }
    .header__burger span {
        position: absolute;
        background: gray;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: gray;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before{
        top:0;
    }
    .header__burger::after{
        bottom:0;
    }

    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }

    .hero-section h1 {
        font-size: 60px;
    }
    .hero-section p {
        font-size: 24px;
    }

    .hero-section__image {
        width: 650px;
        height: 1000px;
    }

    .sound__image {
        width: 400px;
        height: 600px;
    }

    
    footer p {
        font-size: 13px;
        width: 650px;
    }
}

@media (max-width: 768px) {
    .header__list li {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .hero-section h1 {
        font-size: 40px;
    }
    .hero-section p {
        font-size: 14px;
        width: 70%;
    }
    .hero-section__image {
        width: 480px;
        height: 760px;
    }
    .sound {
        flex-direction: column;
    }
    
    .sound__title h2 {
        font-size: 60px;
    }

    footer p {
        font-size: 10px;
        width: 300px;
    }
    .hero-section {
        height: 800px;
    }
}

@media (max-width: 450px) {

    .hero-section__image {
        width: 430px;
        height: 760px;
    }
}
